 
 .letras{
 	font-family: 'Architects Daughter', cursive; 		
 	/*justify-content:center;*/
 	text-justify;
 }
 .mish{
 	text-align:left;
 }
 

 
.imgs{
	image-rendering: optimizeQuality;	
}
.titulos{
	text-align:center;
	
}
.size{
	
}
.dim{
	display:block;
margin:auto;
width: 400px;
height: 350px;
}
.subt{
	text-align:left; 
}